.navbar_container {
	height: 4rem;
	background-color: rgba(66, 66, 219, 0.885);
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.logo_container {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.navlink_container {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

/* ---------------------------------- Home ---------------------------------- */

.home_container {
	display: flex;
	height: 55rem;
}

.home_content_container {
	background-image: url("./images/home.png");
	background-repeat: no-repeat;
	background-size: 65rem;
  background-position: 80% 45%;
	width: 100%;
}

.home_content {
	width: 35rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}